/* Navbar Start */
.navbar{
    padding: 30px;
    transition: 1s;
}
body{
    overflow-x: hidden;
}
.navbar.scroll{
    background: #000;
}
.navbar.scroll .nav-link:hover{
    color: #3498db !important;
    text-decoration: underline;
}
.navbar-brand{
    font-weight: bold;
    color: #fff !important;
    font-style: italic;
    font-size: 40px;
    padding-left: 200px;
}
.navbar-nav{
    padding-left: 300px;
}
.nav-link{
    font-weight: bold;
    font-style: italic;
    color: #fff !important;
    margin-left: 4px;
    transition: 0.6;
    text-decoration: underline;
}
/* Navbar End */

/* Header Section Start */
.header {
    margin: 0;
    padding: 0;
}
.header .vid-parent{
    position: relative;
}
.header video{
    height: 100%;
    width: 100%;
}
.header .vid-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.7;
}
.header .vid-content{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    top: 75%;
    left: 55%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff !important;
}
.header .vid-content h6{
    font-weight: bold;
    font-style: italic;
    margin: 20px;
    font-size: 55px;
}
.header .vid-content span{
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
}
.header .vid-content button{
    margin: 30px 10px;
    width: 200px;
    height: 40px;
    transition: 1s;
}
.header .vid-content button:hover{
    background: none;
    color: #dc3445 !important;
}
/* Header Section End */



/* AboutUs Section Start */
.about-us{
    margin: 400px auto;
}
.about-us .content{
    margin: 80px auto;
}
.about-us .content h2{
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
}
.about-us .content span{
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
 
.about-us .col-sm-5 span{
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    text-align: right;
}
.about-us .offset-sm-2{
    margin-top: 30px !important;
}
.about-us button{
    width: 250px;
    margin-top: 20px;
    transition: 1s;
}
.about-us button:hover{
    background: none;
    color: #dc3445 !important;
}
.about-us .span-second , .text-span-animation{
    font-weight: bold;
    font-size: 20px !important;
}
/* AboutUs Section End */

/* What We Do Section Start */
.alumini{
    margin-bottom: 400px;
}
/* What We Do Section End */

/* Team Section Start */
.team {
    margin-bottom: 400px;
}
.team .content{
    text-align: center;
    margin: 70px auto;
}
.team .content h5{
    font-weight: 700;
    font-style: italic;
    font-size: 35px;
}
.team .content span{
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
}

.team-item,
.team-wrap,
.team-content,
.team-content-social {
    transition: all .4s ease-in-out;
}

.team-item {
    position: relative;
    border-radius: .1875rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
    margin: 0 0 30px;
}

.team-item img {
    border-radius: 10px;
    width: 100%;
}

.team-wrap {
    background: rgba(10, 9, 9, 0.6);
    position: absolute;
    border-radius: 10px;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}


.team-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    transform: translateY(-20px);
}

.team-name {
    font-size: .8125rem;
    margin-bottom: 2px;
}

.team-role {
    font-size: .75rem;
    opacity: .6;
}

.team-name,
.team-role {
    color: #fff;
}

.team-content-social {
    text-align: center;
    list-style: none;
    padding: 20px;
    margin: 0;
    transform: translateY(-10px);
    position: absolute;
    right: 0;
}

.team-content-social li {
    margin-bottom: 5px;
}

.team-content-social li a {
    text-decoration: none !important;
    color: #fff;
}

.team-content-social li a:hover {
    opacity: .6;
}

.team-item:hover {
    transform: translateY(-3px);
}

.team-item:hover .team-wrap {
    opacity: 1;
}

.team-item:hover .team-content,
.team-item:hover .team-content-social {
    transform: translateY(0);
}
/* Faltu Section End */


/*  Contact Us Form Start */
.contact-us{
    margin-bottom: 400px;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.8) , inset 10px 10px 10px -10px rgba(0,0,0,0.9);
    padding: 70px;
    border-radius: 20px;
}
.contact-us form input{
    width: 420px;
    padding: 10px;
    color: rgb(82, 73, 73) !important;
    font-weight: bold;
    font-style: italic;
    outline: none !important;
    border: 2px solid #ccc;
}
.contact-us ::placeholder{
    font-weight: bold;
    font-style: italic;
}
.contact-us button{
    transition: 1s;
}
 .contact-us button:hover{
    background: none;
     color: #dc3445 !important;
 }
.contact-us #how{
    height: 100px;
}
.contact-us ul{
    margin-right: 10px !important;
}
/*  Contact Us Form End */


/*  Experience Section Start */
.experience{
    margin-bottom: 400px;
}
.experience h4{
    font-weight: bold;
    font-style: italic;
    margin: 15px auto;
    color: #dc3445 !important;
}
.experience span{
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}
.experience .box{
    margin: 30px auto;
}
.experience button{
    width: 200px;
    transition: 1s;
    margin-right: 220px;
    margin-top: 10px;
}
.experience button:hover{
    background: none;
    color: #dc3445 !important;
}

/*  Experience Section End */


/* Testimonail Section Start */
.testimonial{
    margin-bottom: 400px;
    text-align: center;
}
.testimonial .box{
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.3) , inset 10px 10px 10px -10px rgba(0,0,0,0.6);
    padding: 20px;
    border-bottom: 3px solid #ccc !important;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.testimonial .box span{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}
.testimonial .box h6{
    font-weight: bold;
    font-style: italic;
    color: red !important;
    margin-top: 20px;
}
.testimonial .box:hover{
     box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.7) , inset 10px 10px 10px -10px rgba(0,0,0,0.9); 
}
.testimonial img{
    height: 60px;
    width: 60px !important;
    border-radius: 80%;
    margin-left: 50px;
}
.testimonial .content{
    text-align: center;
    margin-bottom: 100px;
}
.testimonial .content h2{
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}
.testimonial .content span{
    font-size: 12px !important;
    font-weight: bold;
    margin-top: 10px;
    font-style: italic;
}
/* Testimonial Section End */


/* Footer Section Start */
footer{
    background: #000;
    padding: 100px;
}
footer a{
    font-weight: bold;
    font-style: italic;
    color: #fff !important;
    text-decoration: none !important;
}